@charset "utf-8";
.title {
	font-family: Courier;
    color: #005CB9;
    font-weight: bold;
}

.center {
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
}

.question {
    text-align: center;
    font-family: Courier;
    font-size: 16px;
    margin: 10px;
}

.title {
    font-size: 20px;
    text-align: center;
}

.form {
    text-align: center;
}

.option {
    font-size: 18px;
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

  
body {
    font-family:sans-serif;
}

#options {
    margin:4px;
    
    text-align: center;
}

#options label {
    float:left;
    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#options label span {
    text-align:center;
    font-size: 32px;
    padding:13px 0px;
    display:block;
}

#options label input {
    position:absolute;
    top:-20px;
}

#options input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#options .button {
    background-color:rgb(71, 184, 127);
    color:#333;
}

#next_button {

    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    background-color:rgb(115, 215, 255);
    color:#333;
}
